:root {
  --space: 0.6rem;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #747474;
  line-height: 1.2;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

body {
  max-width: calc(1200px + (2 * var(--space)));
  margin: auto;
}

body > * {
  margin: var(--space);
}

#hero {
  padding: var(--space);
  background: black;
}

/* ---------- HERO ---------- */

#hero {
  background: url(images/header.jpg);
  background-size: 160%;
  background-position: 50%;
  height: 405px;
  box-sizing: border-box;
  margin-top: 0;
  position: relative;
}

/* --- HEADER --- */

header {
  padding: calc(4 * var(--space)) calc(5 * var(--space)) calc(4 * var(--space))
    calc(2 * var(--space));
  display: grid;
  grid-template-columns: 1fr 60% 1fr;
  align-items: center;
}

#logo {
  height: auto;
}

#logo img {
  height: auto;
  width: 75px;
  animation: fadeIn 2s ease-in-out 0.5s both, moveUp 1s ease-in-out 0.5s both;
}

nav {
  margin: 0 var(--space);
  animation: fadeIn 2s ease-in-out both, moveUp 1s ease-out both;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

i {
  padding-right: 0.25rem;
}

#social {
  animation: fadeIn 2s ease-in-out 0.5s both, moveUp 1s ease-in-out 0.5s both;
}

#social ul {
  justify-items: end;
}

#facebook-item {
  grid-column: 4 / 5;
}

#twitter-item {
  grid-column: 5 / 6;
}

nav a,
nav i,
#social i {
  transition: 0.3s ease-in-out;
}

nav a:hover,
nav a:hover i {
  color: black;
}

#social .facebook:hover {
  color: #2377e1;
}

#social .twitter:hover {
  color: #299ded;
}

/* --- HERO CONTENT --- */

#hero-content-wrapper {
  padding: var(--space);
  margin-top: calc(var(--space) / 2);
}

#hero-content {
  margin: 0 calc(6 * var(--space));
  padding: 1rem 0 2.5rem;
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.7;
}

#hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.1);
  animation: fadeIn 2s ease-in-out;
}

h1 {
  font-family: serif;
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.9;
  color: #fc6d3d;
  display: inline-block;
  animation: fadeIn 1.5s ease-in-out 1s both, moveUp 1s ease-out 1s both;
}

/* --- HERO ANIMATIONS --- */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(30px);
  }

  100% {
    transform: translateY(0);
  }
}

/* ---------- MAIN ---------- */

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: var(--space);
}

#main-content {
  background-color: #d8d7d7;
  padding: calc(var(--space));
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--space) * 2);
  box-sizing: border-box;
}

#main-content > * {
  box-sizing: border-box;
}

/* --- ARTICLE --- */

article {
  background-color: white;
  padding: var(--space);
  display: grid;
  grid-template-rows: 255px 1fr 20px;
  gap: calc(2 * var(--space));
}

.image-title-card {
  position: relative;
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.date {
  position: absolute;
  top: 180px;
  left: 0.25rem;
  color: rgb(219, 255, 146);
}

h3 {
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 0 0.25rem 0.25rem;
  background-color: #f08080;
  margin: 0.05rem 0 0 0;
}

.article-content {
  column-count: 2;
  column-gap: calc(2 * var(--space));
  padding: 0 0.25rem;
}

.more {
  color: grey;
  transition: 0.3s ease-in-out;
  padding-left: 0.25rem;
}

.more:hover {
  color: black;
}

article #main-content-footer {
  background-color: #6399bb;
  width: 100%;
}

#main-content-footer {
  text-align: center;
  font-weight: 500;
  color: black;
  grid-column: 1 / 3;
}

/* --- SIDEBAR --- */

#sidebar {
  background-color: #d8d7d7;
  box-sizing: border-box;
  padding: var(--space);
  text-align: center;
}

#sidebar h4 {
  font-weight: 600;
}

.sidebar-content {
  padding: 0 0.025rem;
}

.sidebar-content * {
  color: black;
}

.sidebar-content p {
  font-weight: 500;
}

/* ---------- FOOTER ---------- */

footer {
  padding: 0 var(--space);
  background: #d8d7d7;
}

#footer-content {
  background-color: #f5f1f1;
  padding: var(--space) 0;
  text-align: center;
}

/* --------------- TABLET START --------------- */

@media (max-width: 850px) {
  * {
    font-size: 0.95rem;
  }

  #logo img {
    width: 50px;
  }

  nav .icon {
    display: none;
  }

  main {
    background-color: #f5f1f1;
    grid-template-columns: 1fr;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }
}

/* --------------- MOBILE START --------------- */

@media (max-width: 530px) {
  #hero {
    /* padding: 0; */
    background-size: 290%;
  }

  header {
    grid-template-columns: 1fr;
    gap: calc(var(--space) * 2);
    padding: calc(4 * var(--space)) var(--space);
  }

  #logo,
  nav,
  #social {
    width: 100%;
  }

  #logo img {
    display: block;
    margin: auto;
    animation: fadeIn 2s ease-in-out both, moveUp 1s ease-in-out both;
  }

  nav {
    margin: 0;
    animation: fadeIn 2s ease-in-out 0.5s both, moveUp 1s ease-out 0.5s both;
  }

  #social {
    width: auto;
    padding: 0;
    animation: fadeIn 2s ease-in-out 1s both, moveUp 1s ease-in-out 1s both;
  }

  #social ul {
    grid-template-columns: 1fr 1fr;
    gap: calc(2 * var(--space));
  }

  #facebook-item {
    grid-column: 1 / 2;
  }

  #twitter-item {
    grid-column: 2 / 3;
    justify-self: start;
  }

  #hero-content {
    margin: 0 var(--space);
  }

  h1 {
    font-size: 1.5rem;
    animation: fadeIn 1.5s ease-in-out 1s both, moveUp 1s ease-out 1s both;
  }

  #main-content {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  article {
    grid-column: 1 / 2;
  }
}
