:root {
  --space: 1.5rem;
}

body {
  max-width: 1200px;
  margin: auto;
}

body > * {
  margin: var(--space);
}

#hero,
main,
footer {
  padding: var(--space);
  background: black;
}

/* ---------- HERO ---------- */

header {
  background-color: #27394e;
  padding: var(--space);
  display: flex;
}

header > * {
  background-color: #ea584b;
  height: var(--space);
}

#logo,
#social {
  width: 25%;
}

nav {
  width: 50%;
  margin: 0 var(--space);
}

#hero-content-wrapper {
  background-color: #f0763a;
  padding: var(--space);
  margin-top: calc(var(--space) / 2);
}

#hero-content {
  background-color: #ffcc5e;
  height: var(--space);
}

/* ---------- MAIN ---------- */

main {
  display: flex;
  gap: var(--space);
}

#main-content {
  background-color: #44465e;
  padding: var(--space);
  width: calc(100% * 2 / 3);
  display: flex;
  flex-wrap: wrap;
  gap: var(--space);
  box-sizing: border-box;
}

#main-content > * {
  height: var(--space);
  box-sizing: border-box;
}

article {
  background-color: #1664a4;
  width: calc(50% - (var(--space) / 2));
}

#main-content-footer {
  background-color: #6399bb;
  width: 100%;
}

#sidebar {
  background-color: #f94c47;
  width: calc(100% / 3);
  box-sizing: border-box;
  padding: var(--space);
  display: flex;
  flex-direction: column;
  gap: calc(var(--space) / 2);
}

.sidebar-content {
  background-color: #ffe380;
  height: var(--space);
}

/* ---------- FOOTER ---------- */

#footer-content {
  background-color: #e4a434;
  height: var(--space);
}

/* --------------- TABLET START --------------- */

@media (max-width: 850px) {
  main {
    background-color: #fff734;
    flex-direction: column;
  }

  #main-content,
  #sidebar {
    width: 100%;
  }
}

/* --------------- MOBILE START --------------- */

@media (max-width: 450px) {
  header {
    flex-direction: column;
    gap: var(--space);
  }

  #logo,
  nav,
  #social {
    width: 100%;
  }

  nav {
    margin: 0;
  }

  #hero-content-wrapper {
    margin-top: var(--space);
  }

  #main-content {
    flex-direction: column;
    background-color: #004763;
  }

  article {
    width: 100%;
    background-color: #558991;
  }

  #main-content-footer {
    background-color: #97d4c5;
  }

  #sidebar {
    background-color: #ff784c;
  }

  .sidebar-content {
    background-color: #ffab64;
  }

  #footer-content {
    background-color: #ffbf60;
  }
}
